#service-plans {
  margin-top: 75px;
}
#service-plans .modal-body {
  padding: 2.5rem;
}
#service-plans .modal-body p {
  margin-top: 20px;
}
#service-plans .modal-body li {
  margin: 5px 0px;
  font-size: 1.25rem;
}

.services-row .card {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  text-align: center;
}
.services-row .card .card-title {
  flex-grow: 1;
}
.services-row .card .service-price {
  margin-top: 10px;
}
.services-row .card .service-price p {
  font-size: 1.75rem;
  font-weight: 550;
}
.services-row .card .inc-vat {
  font-size: 1rem;
  color: #868e96;
}

#plumbing-and-boilers .plumbing-and-boilers-text {
  padding: 25px;
}
#plumbing-and-boilers .appliances-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}
#plumbing-and-boilers .appliances-grid .appliance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px 0px 25px 0px;
}
#plumbing-and-boilers .appliances-grid .appliance h3 {
  margin-top: 25px;
}

#smart-home-thermostats .row {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  position: relative;
}
#smart-home-thermostats img {
  width: 50%;
  -webkit-clip-path: polygon(0 0, 0% 100%, 75% 100%, 100% 0);
          clip-path: polygon(0 0, 0% 100%, 75% 100%, 100% 0);
  padding: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 0px 0px 15px;
  max-height: 400px;
}
#smart-home-thermostats .thermostat-content {
  width: 50%;
  padding: 25px;
  text-align: center;
  padding-right: 50px;
}
#smart-home-thermostats .thermostat-content h2 {
  margin: 25px 0px 25px 0px;
}
#smart-home-thermostats .thermostat-content .thermostat-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#smart-home-thermostats .thermostat-content .thermostat-icons .thermostat {
  text-align: center;
  margin: 25px 0px 25px 0px;
}
#smart-home-thermostats .thermostat-content .thermostat-icons .thermostat i {
  font-size: 4rem;
}
#smart-home-thermostats .thermostat-content .thermostat-icons .thermostat h3 {
  margin-top: 15px;
  text-decoration: underline;
}
@media only screen and (max-width: 1200px) {
  #smart-home-thermostats .thermostat-content {
    width: 100%;
    border-radius: 15px;
  }
  #smart-home-thermostats .thermostat-content .thermostat-icons .thermostat {
    margin: 0px;
  }
  #smart-home-thermostats img {
    display: none;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
}

#faq .btn {
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35), 15px 15px 0px #fcc419;
  font-size: 2rem;
}
#faq .faq-row {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
#faq .faq-row .question {
  margin: 15px 0px 15px 0px;
}
#faq .faq-row .question h4 {
  font-weight: 600;
  margin-bottom: 5px;
}
#faq .faq-row .question p {
  font-size: 1.25rem;
  list-style: none;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(http://example.com/fonts/ubuntu.woff) format("woff");
}
* {
  color: #343a40;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html [class^=col-],
html [class*=" col-"] {
  padding: 20px;
}
html p {
  font-size: 1.5rem;
  line-height: 2.75rem;
}
html h1 {
  font-size: 6.5rem;
  font-weight: 800;
}
html h2 {
  font-size: 3rem;
  font-weight: 700;
}
html h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
html h4 {
  font-size: 2rem;
  font-weight: 300;
}
html h5 {
  font-size: 1.5rem;
  font-weight: 200;
}

.fa-duotone {
  --fa-primary-color: #343a40;
  --fa-secondary-color: #fcc419;
  --fa-secondary-opacity: 1.0;
  font-size: 4rem;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 90%;
  }
}
.nav-bar {
  padding-top: 0px;
  height: -moz-max-content;
  height: max-content;
}
.nav-bar ul {
  display: flex;
  align-items: center;
  background-color: white;
  color: #343a40;
  margin-bottom: 0px;
}
.nav-bar li {
  list-style-type: none;
}
.nav-bar a {
  display: inline-block;
  text-decoration: none;
  color: #343a40;
  font-size: 1.25rem;
  font-weight: 550;
  padding: 25px 0px 25px 0px;
}
.nav-bar .navbar-logo {
  flex: 45%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #343a40;
}
.nav-bar .navbar-logo img {
  vertical-align: middle;
  width: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav-bar .navbar-toggle {
  display: none;
}
.nav-bar .navbar-toggle i {
  color: #343a40;
  font-size: 1.75rem;
}
.nav-bar .navbar-links {
  flex: auto;
  text-align: center;
}
.nav-bar .navbar-links:hover {
  background-color: #fcc419;
}
.nav-bar .navbar-links:hover a {
  color: #343a40;
}
@media (max-width: 768px) {
  .nav-bar ul {
    flex-wrap: wrap;
    padding: 0px;
  }
  .nav-bar .navbar-toggle {
    display: block;
    margin-right: 25px;
  }
  .nav-bar .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  .nav-bar .active {
    display: block;
    text-align: center;
  }
}

.container {
  margin-bottom: 75px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  font-size: 1.5rem;
  line-height: 2.75rem;
  text-decoration: underline;
  text-decoration-color: #fcc419;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-weight: 600;
}

a.button {
  background-color: #fcc419;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  text-decoration: none;
  color: #343a40;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 15px;
}

a.button:hover {
  background-color: #ffe066;
  cursor: pointer;
}

.modal-footer .btn {
  background-color: #fcc419;
}

#hero {
  position: relative;
  margin-top: 25px;
}
#hero .row {
  border-radius: 15px;
}
#hero .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}
#hero .hero-text .text {
  color: #343a40;
  display: flex;
  flex-direction: column;
}
#hero .hero-text .accredited {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
#hero .hero-text .accredited img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 50px;
}
#hero .hero-icons {
  display: flex;
  align-items: center;
  text-align: center;
}
#hero .hero-image {
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  padding: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 15px 15px 0px;
  max-height: 800px;
}
@media only screen and (max-width: 1200px) {
  #hero .hero-text {
    padding: 0px;
  }
  #hero .hero-image {
    display: none;
  }
  #hero .hero-icons {
    background-color: white;
    border-radius: 15px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.card .card-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0px 40px 0px;
}
.card .card-title {
  vertical-align: middle;
  text-align: center;
}
.card .card-title h3 {
  font-size: 1.75rem;
  font-weight: 500;
}
.card .card-content {
  flex-grow: 1;
}

#about .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#about .content h2 {
  font-weight: 700;
  margin-bottom: 50px;
}
#about .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about .about-image {
  background-image: url("images/fleet.JPG");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
}

#companies .trusted-text {
  display: flex;
  align-items: center;
}
#companies .trusted-text h4 {
  font-weight: 700;
}
#companies .gallery {
  padding: 30px 0px 30px 0px;
}
#companies .gallery .col {
  display: flex;
  justify-content: center;
  margin: 10px;
}
#companies .gallery img {
  height: 100px;
  max-width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-body {
  text-align: start;
}

#image-gallery .image-gallery-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
}

#reviews .reviews-carousel {
  margin: 50px 0px 0px 0px;
}

#footer {
  background-color: #fcc419;
}
#footer .row {
  padding: 5px !important;
}
#footer .social-links {
  display: flex;
  justify-content: center;
  padding: 20px;
}
#footer .social-links i {
  margin: 0px 100px 0px 100px;
  font-size: 2rem;
}
#footer .quick-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 0px 0px 0px;
  padding: 20px;
}
#footer .quick-links a {
  text-decoration: none;
  color: #343a40;
  display: inline-block;
  border-radius: 15px;
  font-size: 16px;
}
#footer .quick-links a:hover {
  text-decoration: underline;
}
#footer .ts-and-cs {
  text-align: center;
  width: 100%;
  padding: 0px 0px 10px 0px;
}
#footer .ts-and-cs p {
  margin: 0px;
  font-size: 16px;
  color: #868e96;
}

/* HOMEPAGE STYLING */
/* ABOUT US STYLING */
/* CONTACT STYLING *//*# sourceMappingURL=style.css.map */